/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FCF5ED;
  color: black;
}

/* Component Styles */
/* HOME STYLE */
.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 50%;
  background-color: #FCF5ED;
  width: 70%;
  max-width: 500px;
  border: 4px solid #CE5A67;
  padding: 50px;
  text-align: left;
  font-size: 18px;
}

.signin-link,
.signup-link {
  color: #ffc436;
  cursor: pointer;
}

.signin-link:hover,
.signup-link:hover {
  color: black;
  transition: color 1s;
  text-decoration: none;
}

.home-flush-btn {
  margin-top: 35px;
  background-color: #0174be;
  color: #fff0ce;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-flush-btn:hover {
  background-color: #015999;
}
/*SIGN-IN SIGN-UP STYLE*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 65%;
  background-color: #FCF5ED;
  width: 70%;
  max-width: 500px;
  border: 4px solid #CE5A67;
  padding: 25px 50px;
  text-align: left;
  font-size: 18px;
}

.container h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.input-txt {
  background-color: #f4d181;
  font-size: 15px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 2%;
}


input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #edc15b;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #f7c143;
}

span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.quote-container{
    width: 50%;
    height: 10%;
    padding: 0.3vh;
    margin: 0.5vh;
    text-align: center;
}
.visible-label{
    color: rgba(10, 187, 222, 0.918);
    font-weight: 700;
    word-spacing:0.1vh;
    padding: 1vh;
    margin: 0.3vh 0.5vh;
}
.visible-select{
    padding: 1vh;
    font-size: 2vh;
    font-weight: 500;
    border-radius: 1vh;
}
.quote-p{
    width:90%;
    height: 1.5em;
    padding: 1vh;
    margin: 0.3vh 0.5vh;
    overflow:auto;
    font-size: 2vh;
    font-weight: 450;
    color: black;
    border-radius: 2vh;
    border: 0.4vh solid green;
    background-color: rgb(239, 238, 210);
}
.quote-status-edit{
    width:90%;
    height: 1.5em;
    padding: 1vh;
    margin: 0.3vh 0.5vh;
    text-align: left;
    font-size: 2vh;
    font-weight: 450;
    overflow: auto;
    color: red;
    border-radius:2vh;
    border: 0.4vh solid red;
    background-color: rgb(239, 238, 210);
}
.logout-container{
    padding: 0.5vh;
    margin: 0.1vh;
    display:  inline;
}
.logout-button{
    padding: 1vh;
    font-size: 2vh ;
    font-weight: 500;
    color: white;
    background-color: red;
    border-radius: 1vh;
}
.logout-button:hover{
    color: black;
    transition: color 2s;
}

.dashboard-navbar-logo{
    text-align: center;
    font-weight: 450;
    word-spacing: 0.5vh;
    margin: 2vh;
    padding: 1vh;
    color: purple;
}

.dashboard-navbar-container{
    display: flex;
    align-items: center;
    margin: 0.2vh 1vh;
    width: 98%;
    padding: 0.1vh 0.5vh;
    justify-content: space-between;
}
.dashboard-profile{
    width: 30%;
    height: 50%;
    border: 1px solid black;
    margin: 1vh auto;
    padding: 3vh;
    text-align: center;
}
.dashboard-profile-picture{
    width: 30%;
    height: 30%;
    border: 1px solid black;
    border-radius: 100%;
}
.dashboard-profile-picture:hover{
    transition: height 2s;
    transition: width 2s;
    height: 40%;
    width: 40%;
}
.dashboard-profile p{
    height: 50%;
    border: 1px solid black;
    overflow:auto;
    border-radius: 1%;
    color: rgb(132, 80, 6);
}
.dpl{
    font-weight: 600;
    color: rgb(248, 87, 87);
}
.dpl:hover{
    color: rgb(186, 36, 36);
    transition: color 1s;
}


@media (max-width: 768px) {
    .about {
      width: 90%;
    }
  }
  